USE [PRNGroup4]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [CK__Users__Role__4AB81AF0]
GO
ALTER TABLE [dbo].[Registrations] DROP CONSTRAINT [CK__Registrat__Statu__5070F446]
GO
ALTER TABLE [dbo].[Attendance] DROP CONSTRAINT [CK__Attendanc__Statu__4F47C5E3]
GO
ALTER TABLE [dbo].[Results] DROP CONSTRAINT [FK__Results__UserID__59FA5E80]
GO
ALTER TABLE [dbo].[Results] DROP CONSTRAINT [FK__Results__ExamID__59063A47]
GO
ALTER TABLE [dbo].[Registrations] DROP CONSTRAINT [FK__Registrat__UserI__52593CB8]
GO
ALTER TABLE [dbo].[Registrations] DROP CONSTRAINT [FK__Registrat__Cours__534D60F1]
GO
ALTER TABLE [dbo].[Questions] DROP CONSTRAINT [FK__Question__ExamId__29221CFB]
GO
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [FK__Notificat__UserI__160F4887]
GO
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [FK__Notificat__Regis__17036CC0]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [FK_Exams_Supervisor]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [FK__Exams__CourseID__5629CD9C]
GO
ALTER TABLE [dbo].[Courses] DROP CONSTRAINT [FK__Courses__Teacher__4D94879B]
GO
ALTER TABLE [dbo].[Certificates] DROP CONSTRAINT [FK__Certifica__UserI__5DCAEF64]
GO
ALTER TABLE [dbo].[Attendance] DROP CONSTRAINT [FK__Attendanc__UserI__51300E55]
GO
ALTER TABLE [dbo].[Attendance] DROP CONSTRAINT [FK__Attendanc__Cours__503BEA1C]
GO
ALTER TABLE [dbo].[Registrations] DROP CONSTRAINT [DF__Registrat__Statu__5165187F]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [DF__Exams__ExamDate__3A4CA8FD]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [DF__Exams__IsConfirm__01142BA1]
GO
/****** Object:  Index [UQ__Users__A9D10534204DE9EC]    Script Date: 7/22/2025 5:57:22 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__A9D10534204DE9EC]
GO
/****** Object:  Index [UQ__Certific__9B855830C0A6C6EC]    Script Date: 7/22/2025 5:57:22 PM ******/
ALTER TABLE [dbo].[Certificates] DROP CONSTRAINT [UQ__Certific__9B855830C0A6C6EC]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Results]') AND type in (N'U'))
DROP TABLE [dbo].[Results]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Registrations]') AND type in (N'U'))
DROP TABLE [dbo].[Registrations]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Questions]') AND type in (N'U'))
DROP TABLE [dbo].[Questions]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notification]') AND type in (N'U'))
DROP TABLE [dbo].[Notification]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exams]') AND type in (N'U'))
DROP TABLE [dbo].[Exams]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Courses]') AND type in (N'U'))
DROP TABLE [dbo].[Courses]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Certificates]') AND type in (N'U'))
DROP TABLE [dbo].[Certificates]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 7/22/2025 5:57:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Attendance]') AND type in (N'U'))
DROP TABLE [dbo].[Attendance]
GO
USE [master]
GO
/****** Object:  Database [PRNGroup4]    Script Date: 7/22/2025 5:57:22 PM ******/
DROP DATABASE [PRNGroup4]
GO
/****** Object:  Database [PRNGroup4]    Script Date: 7/22/2025 5:57:22 PM ******/
CREATE DATABASE [PRNGroup4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRNGroup4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL_PRJ301\MSSQL\DATA\PRNGroup4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRNGroup4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL_PRJ301\MSSQL\DATA\PRNGroup4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRNGroup4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRNGroup4]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[SessionDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Note] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[CertificateID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[IssuedDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
	[CertificateCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Room] [nvarchar](50) NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
	[SupervisorID] [int] NULL,
	[ExamDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RegistrationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NULL,
	[Content] [nvarchar](1000) NULL,
	[OptionA] [nvarchar](255) NULL,
	[OptionB] [nvarchar](255) NULL,
	[OptionC] [nvarchar](255) NULL,
	[OptionD] [nvarchar](255) NULL,
	[CorrectAnswer] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Score] [float] NULL,
	[PassStatus] [bit] NOT NULL,
	[SubmittedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/22/2025 5:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Class] [nvarchar](50) NULL,
	[School] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceID], [CourseID], [UserID], [SessionDate], [Status], [Note]) VALUES (1, 17, 6, CAST(N'2025-07-21' AS Date), N'Absent', N'ốm')
INSERT [dbo].[Attendance] ([AttendanceID], [CourseID], [UserID], [SessionDate], [Status], [Note]) VALUES (2, 2, 1, CAST(N'2025-08-01' AS Date), N'Present', N'')
INSERT [dbo].[Attendance] ([AttendanceID], [CourseID], [UserID], [SessionDate], [Status], [Note]) VALUES (3, 2, 6, CAST(N'2025-08-01' AS Date), N'Present', N'')
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Certificates] ON 

INSERT [dbo].[Certificates] ([CertificateID], [UserID], [IssuedDate], [ExpirationDate], [CertificateCode]) VALUES (1, 1, CAST(N'2025-08-01' AS Date), CAST(N'2028-08-01' AS Date), N'CERT-2025-A001')
INSERT [dbo].[Certificates] ([CertificateID], [UserID], [IssuedDate], [ExpirationDate], [CertificateCode]) VALUES (2, 6, CAST(N'2025-07-21' AS Date), CAST(N'2026-07-21' AS Date), N'CERT-6-20250721090401')
INSERT [dbo].[Certificates] ([CertificateID], [UserID], [IssuedDate], [ExpirationDate], [CertificateCode]) VALUES (3, 11, CAST(N'2025-07-21' AS Date), CAST(N'2026-07-21' AS Date), N'CERT-11-20250721093303')
SET IDENTITY_INSERT [dbo].[Certificates] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [TeacherID], [StartDate], [EndDate]) VALUES (1, N'Kỹ năng lái xe cơ bản', 2, CAST(N'2025-07-01' AS Date), CAST(N'2025-07-31' AS Date))
INSERT [dbo].[Courses] ([CourseID], [CourseName], [TeacherID], [StartDate], [EndDate]) VALUES (2, N'Lý thuyết giao thông', 2, CAST(N'2025-08-01' AS Date), CAST(N'2025-08-15' AS Date))
INSERT [dbo].[Courses] ([CourseID], [CourseName], [TeacherID], [StartDate], [EndDate]) VALUES (3, N'Ki năng lai xe đêm', 2, CAST(N'2025-07-16' AS Date), CAST(N'2025-07-25' AS Date))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamID], [CourseID], [Date], [Room], [IsConfirmed], [SupervisorID], [ExamDate]) VALUES (1, 1, CAST(N'2025-07-22' AS Date), N'P101', 0, NULL, CAST(N'2025-07-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Exams] ([ExamID], [CourseID], [Date], [Room], [IsConfirmed], [SupervisorID], [ExamDate]) VALUES (2, 2, CAST(N'2025-07-22' AS Date), N'P202', 0, NULL, CAST(N'2025-07-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Exams] ([ExamID], [CourseID], [Date], [Room], [IsConfirmed], [SupervisorID], [ExamDate]) VALUES (4, 3, CAST(N'2025-08-22' AS Date), N'P407', 1, NULL, CAST(N'2025-07-21T01:39:01.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [ExamId], [Content], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectAnswer]) VALUES (2, 1, N'khi gặp đèn đỏ thì làm gì ?', N'dừng xe', N'bôc đầu', N'đi nhanh', N'đi chậm', N'A')
INSERT [dbo].[Questions] ([QuestionId], [ExamId], [Content], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectAnswer]) VALUES (3, 1, N'Khi gặp đèn vàng thì làm gì', N'đi chậm', N'dừng xe', N'bốc đầu', N'đi nhanh', N'A')
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([RegistrationID], [UserID], [CourseID], [Status], [Comments]) VALUES (1, 1, 1, N'Approved', N'Tham gia đầy đủ')
INSERT [dbo].[Registrations] ([RegistrationID], [UserID], [CourseID], [Status], [Comments]) VALUES (2, 1, 2, N'Rejected', N'khong du tien')
INSERT [dbo].[Registrations] ([RegistrationID], [UserID], [CourseID], [Status], [Comments]) VALUES (3, 1, 3, N'Approved', NULL)
SET IDENTITY_INSERT [dbo].[Registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([ResultID], [ExamID], [UserID], [Score], [PassStatus], [SubmittedAt]) VALUES (1, 1, 1, 8.5, 1, NULL)
INSERT [dbo].[Results] ([ResultID], [ExamID], [UserID], [Score], [PassStatus], [SubmittedAt]) VALUES (2, 2, 1, 7, 1, NULL)
INSERT [dbo].[Results] ([ResultID], [ExamID], [UserID], [Score], [PassStatus], [SubmittedAt]) VALUES (3, 1, 6, 10, 1, CAST(N'2025-07-21T08:41:15.807' AS DateTime))
SET IDENTITY_INSERT [dbo].[Results] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [Class], [School], [Phone]) VALUES (1, N'Nguyễn Văn A', N'a@student.com', N'hashed123', N'Student', N'12A1', N'ĐH FPT HN', N'0912345678')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [Class], [School], [Phone]) VALUES (2, N'Trần Thị B', N'b@teacher.com', N'hashed456', N'Teacher', N'', N'ĐH FPT HN', N'0987654321')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [Class], [School], [Phone]) VALUES (3, N'Lê Công An', N'csgt@police.com', N'hashed789', N'TrafficPolice', NULL, NULL, N'0909123456')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Certific__9B855830C0A6C6EC]    Script Date: 7/22/2025 5:57:22 PM ******/
ALTER TABLE [dbo].[Certificates] ADD UNIQUE NONCLUSTERED 
(
	[CertificateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534204DE9EC]    Script Date: 7/22/2025 5:57:22 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT (getdate()) FOR [ExamDate]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Supervisor] FOREIGN KEY([SupervisorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Supervisor]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registrations] ([RegistrationID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD CHECK  (([Status]='Absent' OR [Status]='Present'))
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD CHECK  (([Status]=N'Rejected' OR [Status]=N'Approved' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]=N'Admin' OR [Role]=N'TrafficPolice' OR [Role]=N'Teacher' OR [Role]=N'Student'))
GO
USE [master]
GO
